<h1>Welcome to Movies Search Page</h1>
<h3>Search for the movie you want</h3>

<form class="" action="/results" method="GET">
  <input type="text" name="search" placeholder="Movie Name">
  <input type="submit" value="Submit">
</form>
